.footer-short-info * p {
  font-size: 15px;
}
.short-info-text {
  margin-top: 20px;
  text-align: center;
}

.short-info-text h2 {
  color: #e9b947;
  font-family: "Tangerine", "cursive";
  font-size: 70px;
  font-weight: 300;
}

.short-info-text p {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-short-info {
  max-width: 1100px;
  margin: 0px auto;
}

.get-touch {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-us,
.opening-hour {
  width: 33.33%;
}

.heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
  text-align: start;
}

.footer-content #margin-btm {
  margin-bottom: 20px;
}

.opening-hour-content {
  display: flex;
  align-items: center;
}

.opening-hour-content .days h2 {
  font-weight: 400;
  font-size: 20px;
  padding: 2px;
}

.opening-hour-content p {
  font-weight: 300;
  margin-left: 40px;
}

.about-banquet {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
}

.about-banquet .heading h2 {
  text-align: center;
}

.links-newsletter {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.copyright-footer {
  height: 120px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icon {
  color: black;
  font-size: xx-large;
}

@media screen and (max-width: 800px) {
  .get-touch {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contact-us,
  .opening-hour {
    width: 50%;
  }
  .links-newsletter {
    flex-direction: column;
    gap: 2rem;
  }
}
